<Modal @ref="modal" ModalTitle="Update Section" Callback="@HandleUpdate">
    <EditForm Model="@Model" OnValidSubmit="HandleUpdate">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label asp-for="Name" class="control-label">Section Name</label>
            <InputText id="Name" class="form-control" @bind-Value="@Model.Name"></InputText>
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
        <div class="form-group">
            <label asp-for="OrderIndex" class="control-label">Order Index</label>
            <InputNumber id="OrderIndex" class="form-control" @bind-Value="@Model.OrderIndex"></InputNumber>
        </div>
    </EditForm>
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public SectionVM Model { get; set; }

    [Inject]
    private ISectionService SectionService { get; set; }


    [Parameter]
    public EventCallback<int> Callback { get; set; }


    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }

    protected async Task HandleUpdate()
    {
        SectionVM? sectionVM;

        sectionVM = new SectionVM
        {
            Id = Model.Id,
            Name = Model.Name,
            OrderIndex = Model.OrderIndex
        };

        var response = await SectionService.UpdateSection(sectionVM);

        if(response.IsSuccess)
        {
            await Callback.InvokeAsync();
        }
        else
        {
            // show alert
        }

        CloseModal();
    }
}