@page "/contact/list"
@using AdminUI.Models.Contact
@using AdminUI.Pages.Contact.Filter
@using AdminUI.Pages.Contact.Modal
<h3>Reports</h3>

<ContactFilter QueryModel="query" Callback="RefreshListFilter"></ContactFilter>

<table class="table table-bordered table-hover caption-top forum-table">
    <caption>List of Contacts</caption>
    <thead>
        <tr>
            <th scope="col" style="width:20%">Subject</th>
            <th scope="col">Type</th>
            <th scope="col">Email</th>
            <th scope="col">Name Surname</th>
            <th scope="col" style="width:20%">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (!isLoaded)
        {
            <p>Loading Data...</p>
        }
        else
        {
            @foreach (var contact in Contacts)
            {
                <tr>
                    <td class="align-middle">@contact.Subject</td>
                    <td class="align-middle">@contact.Type</td>
                    <td scope="row" class="align-middle">@contact.Email</td>
                    <td class="align-middle">@contact.NameSurname</td>
                    <td class="text-end align-middle">
                        <button type="button" class="btn btn-primary" @onclick="() => DetailReport(contact)"><i class="bi bi-card-text"></i></button>
                        <button type="button" class="btn btn-danger" @onclick="() => DetailReport(contact)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@if (isLoaded)
{
    <Pagination UseCallback="true" TotalPages="@TotalPages" CurrentPage="@CurrentPage" PageChanged="PageChanged" />
}
<DetailContactModal @ref=detailContactModal Model="SelectedModel" Callback="RefreshList"></DetailContactModal>

@code {
    [Parameter]
    public int PageIndex { get; set; } = 1;


    public List<ContactVM>? Contacts { get; set; }

    [Inject]
    public IContactService ContactService { get; set; }

    // Pagination variables
    private int PageSize = 10; // Number of items per page
    private int TotalPages = 1;
    private int CurrentPage = 1;

    private bool isLoaded { get; set; }

    GetContactsWithPaginationQueryVM query = new GetContactsWithPaginationQueryVM();

    DetailContactModal? detailContactModal;
    private ContactVM? SelectedModel { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (PageIndex == 0) PageIndex = 1;
        CurrentPage = PageIndex;

        query = new GetContactsWithPaginationQueryVM
        {
            PageIndex = PageIndex,
            PageSize = PageSize
        };

        ContactsPaginationVM contactsPagination = await ContactService.GetContactsWithPagination(query);
        Contacts = contactsPagination.Contacts;
        TotalPages = (int)Math.Ceiling((double)contactsPagination.TotalCount / PageSize);

        isLoaded = true;
    }

    protected async Task RefreshList()
    {
        ContactsPaginationVM contactsPagination = await ContactService.GetContactsWithPagination(query);
        Contacts = contactsPagination.Contacts;
        TotalPages = (int)Math.Ceiling((double)contactsPagination.TotalCount / PageSize);

        isLoaded = true;
        await InvokeAsync(StateHasChanged);
    }

    protected async Task RefreshListFilter()
    {
        query.PageIndex = 1;
        CurrentPage = 1;

        await RefreshList();
    }


    protected async Task PageChanged(int currentPage)
    {
        query.PageIndex = currentPage;
        CurrentPage = currentPage;
        await RefreshList();
    }

    protected async Task DetailReport(ContactVM contact)
    {
        SelectedModel = contact;

        detailContactModal?.ShowModal();
    }

    protected async Task DeleteReport(ContactVM report)
    {
        RemoveContactCommandVM command = new RemoveContactCommandVM
        {
            Id = report.Id
        };

        await ContactService.RemoveContact(command);
    }
}