<Modal @ref="modal" ModalTitle="Detail Heading">
    @if (Model is not null)
    {
        <table class="table table-bordered table-hover caption-top forum-table">
            <thead>
                <tr>
                    <th class="col-6">Field</th>
                    <th class="col-6">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Id</td>
                    <td class="align-middle">@Model.Id</td>
                </tr>
                <tr>
                    <td class="align-middle">Title</td>
                    <td class="align-middle">@Model.Title</td>
                </tr>
                <tr>
                    <td class="align-middle">Description</td>
                    <td class="align-middle">@Model.Description</td>
                </tr>
                <tr>
                    <td class="align-middle">Category Id</td>
                    <td class="align-middle">@Model.CategoryId</td>
                </tr>
                <tr>
                    <td class="align-middle">Category</td>
                    <td class="align-middle">@Model.CategoryName</td>
                </tr>
                <tr>
                    <td class="align-middle">Post Counter</td>
                    <td class="align-middle text-end">@Model.PostCounter</td>
                </tr>
                <tr>
                    <td class="align-middle">Active Date</td>
                    <td class="align-middle">@Model.ActiveDate</td>
                </tr>
            </tbody>
        </table>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public HeadingVM? Model { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }
}
