@using BlazorUI.Models.Category
@using BlazorUI.Services.UI
<Modal @ref="modal" ModalTitle="Add Category" Callback="@HandleRegister">
    <EditForm Model="@Model" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label asp-for="Name" class="control-label">Category Name</label>
            <InputText id="Name" class="form-control" @bind-Value="@Model.Name"></InputText>
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Category Description</label>
            <InputText id="Name" class="form-control" @bind-Value="@Model.Description"></InputText>
            <ValidationMessage For="@(() => Model.Description)" />
        </div>
    </EditForm>
</Modal>

@code {

}
