@page "/category/list"

<h3>Category List</h3>

<CategoryFilter QueryModel="query" Callback="RefreshListFilter"></CategoryFilter>

<table class="table caption-top">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Post Counter</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (!isLoaded)
        {
            <p>Loading Data...</p>
        }
        else
        {
            @foreach (var category in Categories)
            {
                <tr>
                    <th scope="row" class="align-middle">@category.Id</th>
                    <td class="align-middle">@category.Name</td>
                    <td class="align-middle">@category.PostCounter</td>
                    <td class="text-end align-middle">
                        <button type="button" class="btn btn-primary" @onclick="() => DetailCategory(category)"><i class="bi bi-card-text"></i></button>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteCategory(category)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@if (isLoaded)
{
    <Pagination UseCallback="true" TotalPages="@TotalPages" CurrentPage="@CurrentPage" PageChanged="PageChanged" />
}


@code {
    [Parameter]
    public int PageIndex { get; set; } = 1;

    public List<CategoryVM>? Categories { get; set; }

    [Inject]
    public ICategoryService CategoryService { get; set; }

    // Pagination variables
    private int PageSize = 10; // Number of items per page
    private int TotalPages = 1;
    private int CurrentPage = 1;

    private bool isLoaded { get; set; }

    CategoriesPaginationQueryVM query = new CategoriesPaginationQueryVM();

    protected async override Task OnParametersSetAsync()
    {
        if (PageIndex == 0) PageIndex = 1;
        CurrentPage = PageIndex;

        query = new CategoriesPaginationQueryVM
        {
            PageIndex = PageIndex,
            PageSize = PageSize
        };

        CategoriesPaginationVM categoriesPagination = await CategoryService.GetCategoriesWithPagination(query);
        Categories = categoriesPagination.Categories;
        TotalPages = (int)Math.Ceiling((double)categoriesPagination.TotalCount / PageSize);

        isLoaded = true;
    }

    protected async Task RefreshList()
    {
        CategoriesPaginationVM categoriesPagination = await CategoryService.GetCategoriesWithPagination(query);
        Categories = categoriesPagination.Categories;
        TotalPages = (int)Math.Ceiling((double)categoriesPagination.TotalCount / PageSize);

        isLoaded = true;
        await InvokeAsync(StateHasChanged);
    }

    protected async Task RefreshListFilter()
    {
        query.PageIndex = 1;
        CurrentPage = 1;

        await RefreshList();
    }


    protected async Task PageChanged(int currentPage)
    {
        query.PageIndex = currentPage;
        CurrentPage = currentPage;
        await RefreshList();
    }

    protected async Task DetailCategory(CategoryVM category)
    {

    }

    protected async Task DeleteCategory(CategoryVM category)
    {
        
    }
}
