@using NarForumUser.Client.Models.Category
@using NarForumUser.Client.Services.UI
<Modal @ref="modal" ModalTitle="Update Category" Callback="@HandleUpdate">
    @if(Model is not null){
        <EditForm Model="@Model" OnValidSubmit="HandleUpdate">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label mb-2">Name</label>
                <InputText type="text" id="Name" class="form-control" @bind-Value="@Model.Name" autocomplete="off"></InputText>
                <ValidationMessage For="@(() => Model.Name)" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label mb-2">Description</label>
                <InputText type="text" id="Description" class="form-control" @bind-Value="@Model.Description" autocomplete="off"></InputText>
                <ValidationMessage For="@(() => Model.Description)" />
            </div>
            <div class="form-group mb-2">
                <label asp-for="OrderIndex" class="control-label mb-2">Order Index</label>
                <InputNumber type="number" id="OrderIndex" class="form-control" @bind-Value="@Model.OrderIndex" autocomplete="off"></InputNumber>
            </div>
        </EditForm>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public CategoryVM? Model { get; set; }

    [Inject]
    private ICategoryService? CategoryService { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }

    protected async Task HandleUpdate()
    {
        if (Model is not null && CategoryService is not null)
        {
            UpdateCategoryCommandVM command = new UpdateCategoryCommandVM
            {
                Id = Model.Id,
                Name = Model.Name,
                Description = Model.Description,
                OrderIndex = Model.OrderIndex,
            };

            var response = await CategoryService.UpdateCategory(command);

            if(response.IsSuccess)
            {
                // updated
                if(Callback.HasDelegate)
                {
                    await Callback.InvokeAsync();
                }

                CloseModal();
            }
        }

        
    }
}
