@page "/blog/{Title}-{BlogPostId:int}"

@using NarForumUser.Client.Models.BlogPost
@using NarForumUser.Client.Pages.Blog.Component
@using System.Text.RegularExpressions
@inject IConfiguration Configuration
@if (BlogPostVM is not null)
{
    <MetaTags 
        PageTitle="@BlogPostVM.Title"
        PageDescription="@ArrangeContent(BlogPostVM.Content)"
        ContentType="article"
        PostTitle="@Configuration["SiteName"]"
        CanonicalUrl="@($"{Configuration["BaseUrl"]}/blog/{Title}-{BlogPostId}")" />

    <AddBreadcrumb Items="BreadcrumbItems"></AddBreadcrumb>

    <div class="col-sm-12 blog-post-detail-container">
        <h1 class="blog-post-detail-heading">@BlogPostVM.Title</h1>
        <div class="blog-post-detail-content">
            @((MarkupString)BlogPostVM.Content)
        </div>
    </div>

    <BlogCommentList BlogPostVM="BlogPostVM"></BlogCommentList>
} else
{
    <SkeletonBreadcrumb></SkeletonBreadcrumb>
    <div class="col-sm-12 blog-post-detail-container">
        <SkeletonH1 ClassName="blog-post-detail-heading"></SkeletonH1>
        <div class="blog-post-detail-content">
            <SkeletonText></SkeletonText>
            <SkeletonText></SkeletonText>
            <SkeletonText></SkeletonText>
            <SkeletonText></SkeletonText>
            <SkeletonText></SkeletonText>
            <SkeletonText></SkeletonText>
        </div>
    </div>
}

@code {
    [Inject]
    private IBlogPostService? blogPostService { get; set; }

    [Parameter]
    public BlogPostVM? BlogPostVM { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int BlogPostId { get; set; }

    private List<BreadcrumbItem> BreadcrumbItems { get; set; }

    protected async Task SetBreadcrumb()
    {
        BreadcrumbItems = new List<BreadcrumbItem>();
        BreadcrumbItems.Add(new BreadcrumbItem { Text = "Blog", HrefLink = $"/blog" });
        if(BlogPostVM.BlogCategory is not null)
        {
            BreadcrumbItems.Add(new BreadcrumbItem { Text = $"{BlogPostVM.BlogCategory.Name}", HrefLink = $"/blog/{BlogPostVM.BlogCategory.Name.ToFriendlyUrl()}" });
        }
        else
        {
            BreadcrumbItems.Add(new BreadcrumbItem { Text = $"No Category", HrefLink = null });
        }
        BreadcrumbItems.Add(new BreadcrumbItem { Text = $"{BlogPostVM.Title}", IsCurrentPage = true });
    }

    protected async override Task OnParametersSetAsync()
    {
        if (BlogPostVM is null && blogPostService is not null)
        {
            var query = new GetBlogPostQueryVM
            {
                IntId = BlogPostId
            };

            BlogPostVM = await blogPostService.GetBlogPost(query);


            await SetBreadcrumb();
        }

        await base.OnParametersSetAsync();
    }

    public string ArrangeContent(string content)
    {
        string textOnly = Regex.Replace(content, "<.*?>", String.Empty);
        return textOnly;
    }
}