@page "/authorization"

<div class="row">
    <div class="col-3 auth-list">
        <!-- Tab navs -->
        <div class="nav flex-column nav-pills"
             id="v-pills-tab"
             role="tablist"
             aria-orientation="vertical">
            <a class="nav-link @roleActive"
               id="v-pills-link1-tab"
               data-mdb-pill-init
               @onclick="() => ChangeTab(roleTab)"
               role="tab"
               aria-controls="v-pills-link1"
               aria-selected="true">Roles</a>
            <a class="nav-link @permissionActive"
               id="v-pills-link2-tab"
               data-mdb-pill-init
               @onclick="() => ChangeTab(permissionTab)"
               role="tab"
               aria-controls="v-pills-link2"
               aria-selected="false">Permissions</a>
            <a class="nav-link @permissionDefinitionActive"
               id="v-pills-link3-tab"
               data-mdb-pill-init
               @onclick="() => ChangeTab(permissionDefinitionTab)"
               role="tab"
               aria-controls="v-pills-link3"
               aria-selected="false">Permission Definitions</a>
        </div>
        <!-- Tab navs -->
    </div>

    <div class="col-9">
        <!-- Tab content -->
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade @roleShow @roleActive"
                    id="v-pills-link1"
                    role="tabpanel"
                    aria-labelledby="v-pills-link1-tab">
                <Role></Role>
            </div>

            <div class="tab-pane fade @permissionShow @permissionActive"
                    id="v-pills-link2"
                    role="tabpanel"
                    aria-labelledby="v-pills-link2-tab">
                <Permission></Permission>
            </div>

            <div class="tab-pane fade @permissionDefinitionShow @permissionDefinitionActive"
                 id="v-pills-link3"
                 role="tabpanel"
                 aria-labelledby="v-pills-link3-tab">
                <PermissionDefinition></PermissionDefinition>
            </div>
        </div>
        <!-- Tab content -->
    </div>
</div>



@code {
    string roleActive = "active";
    string permissionActive = "";
    string permissionDefinitionActive = "";

    string roleShow = "show";
    string permissionShow = "";
    string permissionDefinitionShow = "";

    readonly string roleTab = "role";
    readonly string permissionTab = "permissionTab";
    readonly string permissionDefinitionTab = "permissionDefinitionTab";

    protected async Task ChangeTab(string tab)
    {
        if (roleTab == tab)
        {
            roleActive = "active";
            permissionActive = "";
            permissionDefinitionActive = "";

            roleShow = "show";
            permissionShow = "";
            permissionDefinitionShow = "";
        }
        if (permissionTab == tab)
        {
            permissionActive = "active";
            roleActive = "";
            permissionDefinitionActive = "";

            permissionShow = "show";
            roleShow = "";
            permissionDefinitionShow = "";
        }
        if (permissionDefinitionTab == tab)
        {
            permissionDefinitionActive = "active";
            roleActive = "";
            permissionActive = "";

            permissionDefinitionShow = "show";
            roleShow = "";
            permissionShow = "";
        }

        await InvokeAsync(StateHasChanged);
    }
}
