@page "/contact"
@using BlazorUI.Models.Contact

<div class="row">
    <div class="col-md-12">
        <h4 class="mb-3">Contact</h4>
        <form class="needs-validation contact-form" novalidate>
            <div class="row g-3">
            <div class="col-sm-12">
                <label for="nameSurname" class="form-label"><strong>Name Surname</strong></label>
                <input type="text" class="form-control" id="nameSurname" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid name surname is required.
                </div>
            </div>
            <div class="col-md-6 pe-md-3">
                <label for="email" class="form-label"><strong>Email</strong></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>
            <div class="col-md-6 ps-md-3">
                <label for="website" class="form-label"><strong>WebSite</strong> <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="website" placeholder="WebSite">
            </div>
            <div class="col-md-3 pe-md-3">
                <label for="state" class="form-label"><strong>Type</strong></label>
                    <InputSelect class="form-select" aria-label="Default select example" @bind-Value="@Model.Type">
                        <option value="@ContactTypeVM.Request">Request</option>
                        <option value="@ContactTypeVM.Bug">Bug</option>
                        <option value="@ContactTypeVM.Other">Other</option>
                    </InputSelect>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-9 ps-md-3">
                    <label for="subject" class="form-label"><strong>Subject</strong></label>
                <input type="text" class="form-control" id="subject" placeholder="Subject" required>
                <div class="invalid-feedback">
                    Please enter subject
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group form-margin">
                    @* <label for="contactMessage" class="form-label">Example textarea</label> *@
                    <InputTextArea id="contactMessage" class="form-control" placeholder="Message" @bind-Value="@Message" rows="4"></InputTextArea>
                    <div class="invalid-feedback">
                        Please enter message
                    </div>
                </div>
            </div>
            </div>
            <hr class="my-4">

            <button class="w-100 btn btn-forum" type="submit">Send Message</button>
        </form>
    </div>
</div>


@code {
    public CreateContactCommandVM Model { get; set; } = new CreateContactCommandVM();

    private string Message { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
