@page "/user/list"
@using AdminUI.Models.Authorization.Role
@using AdminUI.Pages.Users.Modal

<h3>User List</h3>

<UserFilter QueryModel="query" Callback="RefreshListFilter"></UserFilter>

<table class="table table-bordered table-hover caption-top forum-table">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Register Date</th>
            <th scope="col" style="width:20%">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (!isLoaded)
        {
            <p>Loading Data...</p>
        }
        else
        {
            @foreach (var user in Users!)
            {
                <tr class="@(user.IsBlocked ? "blocked-user-bg" : "")">
                    <td scope="row" class="align-middle ">
                        @if(user.IsBlocked)
                        {
                            <i class="bi bi-ban"></i>@(" ")                             
                        }
                        @user.UserName
                    </td>
                    <td scope="row" class="align-middle">@user.Role</td>
                    <td scope="row" class="align-middle">@user.RegisterDate</td>
                    <td class="text-end align-middle">
                        <button type="button" class="btn btn-dark" @onclick="() => BlockUser(user)"><i class="bi bi-ban"></i></button>
                        <button type="button" class="btn btn-warning" @onclick="() => UpdateUser(user)"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" class="btn btn-primary" @onclick="() => DetailUser(user)"><i class="bi bi-card-text"></i></button>
                        <button type="button" class="btn btn-danger" @onclick="() => DeleteUser(user)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@if (isLoaded)
{
    <Pagination UseCallback="true" TotalPages="@TotalPages" CurrentPage="@CurrentPage" PageChanged="PageChanged" />
}

<UpdateUserModal @ref=updateUserModal Model="SelectedModel" Roles="Roles" Callback="RefreshList"></UpdateUserModal>
<DetailUserModal @ref=detailUserModal Model="SelectedModel" Callback="RefreshList"></DetailUserModal>

@code {
    [Parameter]
    public int PageIndex { get; set; } = 1;

    public List<UserInfoVM>? Users { get; set; }

    public List<RoleVM> Roles { get; set; } = new List<RoleVM>();

    [Inject]
    public IUserService UserService { get; set; }

    [Inject]
    public IRoleService RoleService { get; set; }

    UsersPaginationQueryVM query = new UsersPaginationQueryVM();

    // Pagination variables
    private int PageSize = 10; // Number of items per page
    private int TotalPages = 1;
    private int CurrentPage = 1;

    private bool isLoaded { get; set; }


    DetailUserModal? detailUserModal;
    UpdateUserModal? updateUserModal;
    private UserInfoVM? SelectedModel { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var response = await RoleService.GetRoles();
        if(response.UserRoles is not null && response.UserRoles.Count > 0)
        {
            Roles = response.UserRoles;
        }

        await base.OnInitializedAsync();
    }


    protected async override Task OnParametersSetAsync()
    {
        if (PageIndex == 0) PageIndex = 1;
        CurrentPage = PageIndex;

        query = new UsersPaginationQueryVM
        {
            PageIndex = PageIndex,
            PageSize = PageSize
        };

        UsersPaginationVM usersPagination = await UserService.GetWithPagination(query);
        Users = usersPagination.Users;
        TotalPages = (int)Math.Ceiling((double)usersPagination.TotalCount / PageSize);

        isLoaded = true;
    }

    protected async Task RefreshList()
    {
        UsersPaginationVM usersPagination = await UserService.GetWithPagination(query);
        Users = usersPagination.Users;
        TotalPages = (int)Math.Ceiling((double)usersPagination.TotalCount / PageSize);

        isLoaded = true;
        await InvokeAsync(StateHasChanged);
    }

    protected async Task RefreshListFilter()
    {
        query.PageIndex = 1;
        CurrentPage = 1;

        await RefreshList();
    }

    protected async Task PageChanged(int currentPage)
    {
        query.PageIndex = currentPage;
        CurrentPage = currentPage;
        await RefreshList();
    }

    protected void DetailUser(UserInfoVM user)
    {
        SelectedModel = user;

        detailUserModal?.ShowModal();
    }

    protected void UpdateUser(UserInfoVM user)
    {
        SelectedModel = user;

        updateUserModal?.ShowModal();
    }

    protected async Task BlockUser(UserInfoVM user)
    {
        var response = await UserService.BlockUser(user.Id);

        await RefreshList();
    }


    protected async Task DeleteUser(UserInfoVM heading)
    {

    }
}