@page "/contact"
@using NarForumUser.Client.Models.Contact

<div class="row">
    <div class="col-md-12">
        <h4 class="mb-3">Contact</h4>
        <form class="needs-validation contact-form" @onsubmit=SendMessage>
            <div class="row g-3">
            <div class="col-sm-12">
                <label for="nameSurname" class="form-label"><strong>Name</strong></label>
                <InputText type="text" class="form-control" id="nameSurname" @bind-Value=Model.NameSurname autocomplete="off" required></InputText>
                <div class="invalid-feedback">
                    Valid name surname is required.
                </div>
            </div>
            <div class="col-md-6 pe-md-3">
                <label for="email" class="form-label"><strong>Email</strong></label>
                <InputText type="email" class="form-control" id="email" @bind-Value=Model.Email autocomplete="off" required></InputText>
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>
            <div class="col-md-6 ps-md-3">
                <label for="website" class="form-label"><strong>WebSite</strong> <span class="text-muted">(Optional)</span></label>
                <InputText type="text" class="form-control" id="website" @bind-Value=Model.WebSite autocomplete="off"></InputText>
            </div>
            <div class="col-md-3 pe-md-3">
                <label for="state" class="form-label"><strong>Type</strong></label>
                <InputSelect class="form-select forum-select" aria-label="Default select example" @bind-Value="@Model.Type">
                    <option value="@ContactTypeVM.Request">Request</option>
                    <option value="@ContactTypeVM.Bug">Bug</option>
                    <option value="@ContactTypeVM.Other">Other</option>
                </InputSelect>
            </div>
            <div class="col-md-9 ps-md-3">
                <label for="subject" class="form-label"><strong>Subject</strong></label>
                <InputText type="text" class="form-control" id="subject" @bind-Value=Model.Subject autocomplete="off" required></InputText>
                <div class="invalid-feedback">
                    Please enter subject
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group form-margin">
                    <InputTextArea id="contactMessage" class="form-control" placeholder="Message" @bind-Value="@Model.Message" rows="4" required></InputTextArea>
                    <div class="invalid-feedback">
                        Please enter message
                    </div>
                </div>
            </div>
            </div>
            <hr class="my-4">

            <button class="w-100 btn btn-forum" type="submit">Send Message</button>
        </form>
    </div>
</div>


@code {
    [Inject]
    public IContactService? contactService { get; set; }

    public CreateContactCommandVM Model { get; set; } = new CreateContactCommandVM();

    private string Message { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected async Task SendMessage()
    {
        if(contactService is not null)
        {
            var response = await contactService.CreateContact(Model);
            if(response.IsSuccess)
            {
                Model = new CreateContactCommandVM();
            }
        }
    }
}
