@page "/login"

<main class="form-signin">
    @if (string.IsNullOrEmpty(Message) == false)
    {
        <div class="alert alert-danger">
            @Message
        </div>
    }

    <EditForm Model="@Model" OnValidSubmit="HandleLogin">
        @* <Logo LogoVM="LogoVM" LogoId="forum-logo-login"></Logo> *@
        <h1 class="h5 mb-3 fw-normal text-center">Please sign in</h1>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group mb-3">
            <label class="control-label mb-1">Email</label>
            <InputText type="text" id="userName" class="form-control" @bind-Value="@Model.Email" autocomplete="off"></InputText>
            <ValidationMessage For="@(() => Model.Email)" />
        </div>
        <div class="form-group mb-3">
            <label class="control-label mb-1">Password</label>
            <InputText type="password" id="password" class="form-control" @bind-Value="@Model.Password"></InputText>
            <ValidationMessage For="@(() => Model.Password)" />
        </div>

        <div class="checkbox mb-3 mt-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div class="mb-3 mt-3">
            <label>
                <a class="link-primary" href="reset-password">Forgot password?</a>
            </label>
        </div>
        <div class="mb-3 mt-3">
            <label>
                You don't have account? <a class="link-primary" href="register">Register</a>
            </label>
        </div>
        <button class="w-100 btn btn-forum mt-2 fw-normal" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2024–@(DateTime.UtcNow.Year.ToString())</p>
    </EditForm>
</main>