@page "/login"

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<main class="form-signin vh-90 d-flex align-items-center">
    <EditForm Model="@Model" OnValidSubmit="HandleLogin" class="w-100">
        <Logo LogoVM="logoVM"></Logo>
        <h1 class="h5 mb-4 fw-normal mt-4">Admin Panel</h1>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group text-start mb-3">
            <InputText id="userName" class="form-control" placeholder="example@mail.com" @bind-Value="@Model.Email"></InputText>
            <ValidationMessage For="@(() => Model.Email)" />
        </div>
        <div class="form-group text-start mb-3">
            <InputText type="password" id="password" class="form-control" placeholder="password" @bind-Value="@Model.Password"></InputText>
            <ValidationMessage For="@(() => Model.Password)" />
        </div>
        <div class="checkbox mb-3 text-start mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" fdprocessedid="stipw1">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2024–@(DateTime.Now.Year.ToString())</p>
    </EditForm>
</main>