@using AdminUI.Models.Stat

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <div class="row dashboard-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-0">
                <StatCard Name="Posts" 
                    BackgroundColor="#1a82dd" 
                    TotalCounter="@allStats.PostStats.TotalCount" 
                    DayCounter="@allStats.PostStats.TodayStat.Counter"></StatCard>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-0">
                <StatCard Name="Headings" 
                    BackgroundColor="#b698cf" 
                    TotalCounter="@allStats.HeadingStats.TotalCount"
                    DayCounter="@allStats.HeadingStats.TodayStat.Counter"></StatCard>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-0">
                <StatCard Name="Categories" 
                    BackgroundColor="#dac3cd" 
                    FontColor="#333"
                    TotalCounter="@allStats.CategoryStats.TotalCount"
                    DayCounter="@allStats.CategoryStats.TodayStat.Counter"></StatCard>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-0">
                <StatCard Name="Sections" 
                    BackgroundColor="#ff9695" 
                    FontColor="#333"
                    TotalCounter="@allStats.SectionStats.TotalCount"
                    DayCounter="@allStats.SectionStats.TodayStat.Counter"></StatCard>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-0">
                <StatCard Name="Users"
                    BackgroundColor="#ff886f"
                    FontColor="#333"
                    TotalCounter="@allStats.CategoryStats.TotalCount"
                    DayCounter="0"></StatCard>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 p-0">
                <StatCard Name="Online Users"
                    BackgroundColor="#ff8400"
                    FontColor="#333"
                    TotalCounter="@allStats.CategoryStats.TotalCount"
                    DayCounter="0"></StatCard>
            </div>
        </div>
        <div class="row dashboard-row">
            <h3 class="dashboard-row-title">Forum Data</h3>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="Categories" Icon="tag" Url="category/list"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Headings" Icon="card-heading" Url="heading/list"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Posts" Icon="file-post" Url="post/list"></DashboardCard>
            </div>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="Sections" Icon="tag" Url="section/list"></DashboardCard>
            </div>
        </div>

        <div class="row dashboard-row">
            <h3 class="dashboard-row-title">User Management</h3>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="Users" Icon="people-fill" Url="user/list"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Authorization" Icon="key" Url="authorization"></DashboardCard>
            </div>
        </div>

        <div class="row dashboard-row">
            <h3 class="dashboard-row-title">Contact</h3>
        </div>
        <div class="row dashboard-row">
            <div class="col-sm-4">
                <DashboardCard Name="General Chat" Icon="chat-left-text"></DashboardCard>
            </div>
            <div class="col-sm-4">
                <DashboardCard Name="Feedbacks" Icon="envelope-exclamation-fill"></DashboardCard>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="row">
            <!-- statistics ->
        </div>
    </div>
</div>


@code{
    [Inject]
    public IForumStatService forumStatService { get; set; }

    AllStatsResponseVM? allStats { get; set; } = new AllStatsResponseVM();

    bool isLoaded;

    protected async override Task OnInitializedAsync()
    {
        allStats = await forumStatService.GetAllStats();

        isLoaded = true;
    }

    
}
