@if (TotalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (!UseCallback)
            {
                @if (CurrentPage != 1)
                {
                    <li class="page-item"><a href="@getUrl(1)" class="page-link"><i class="bi bi-chevron-double-left"></i></a></li>
                    <li class="page-item"><a href="@getUrl(CurrentPage-1)" class="page-link">Previous</a></li>
                }
                @if (LimitPage <= TotalPages)
                {
                    @for (var j = CurrentPage - (LimitPage / 2); j <= CurrentPage + (LimitPage / 2); j++)
                    {
                        @if (j > 0 && j <= TotalPages)
                        {
                            <li class="page-item @(j == CurrentPage ? "active" : "")">
                                <a class="page-link" href="@getUrl(j)">@j</a>
                            </li>
                        }
                    }
                }
                else
                {
                    @for (var j = 1; j <= TotalPages; j++)
                    {
                        <li class="page-item @(j == CurrentPage ? "active" : "")">
                            <a class="page-link" href="@getUrl(j)">@j</a>
                        </li>
                    }
                }

                @if (TotalPages != CurrentPage)
                {
                    <li class="page-item"><a href="@getUrl(CurrentPage+1)" class="page-link">Next</a></li>
                    <li class="page-item"><a href="@getUrl(TotalPages)" class="page-link"><i class="bi bi-chevron-double-right"></i></a></li>
                }
            }
            else
            {
                @if (CurrentPage != 1)
                {
                    <li class="page-item"><a @onclick="() => ChangePage(1)" class="page-link"><i class="bi bi-chevron-double-left"></i></a></li>
                    <li class="page-item"><a @onclick="() => ChangePage(CurrentPage-1)" class="page-link">Previous</a></li>
                }
                @if (LimitPage <= TotalPages)
                {
                    @for (var j = CurrentPage - (LimitPage / 2); j <= CurrentPage + (LimitPage / 2); j++)
                    {
                        var pageNumber = j;
                        @if (j > 0 && j <= TotalPages)
                        {
                            
                            <li class="page-item @(j == CurrentPage ? "active" : "")">
                                <a class="page-link" @onclick="() => ChangePage(pageNumber)">@j</a>
                            </li>
                        }
                    }
                }
                else
                {
                    @for (var j = 1; j <= TotalPages; j++)
                    {
                        var pageNumber = j;
                        <li class="page-item @(j == CurrentPage ? "active" : "")">
                            <a class="page-link" @onclick="() => ChangePage(pageNumber)">@j</a>
                        </li>
                    }
                }
                @if (TotalPages != CurrentPage)
                {
                    <li class="page-item"><a @onclick="() => ChangePage(CurrentPage+1)" class="page-link">Next</a></li>
                    <li class="page-item"><a @onclick="() => ChangePage(TotalPages)" class="page-link"><i class="bi bi-chevron-double-right"></i></a></li>
                }
            }
        </ul>
    </nav>
}

@code {
    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int LimitPage { get; set; } = 5;

    [Parameter]
    public string BaseUrl { get; set; }

    [Parameter]
    public bool UseCallback { get; set; }

    private string getUrl(int index)
    {
        return $"{BaseUrl}{index}";
    }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    private async Task ChangePage(int page)
    {
        if (page != CurrentPage)
        {
            CurrentPage = page;
            await PageChanged.InvokeAsync(CurrentPage);
        }
    }
}
