@page "/page/{PageUrl}"
@using NarForumUser.Client.Models.StaticPage
@using System.Text.RegularExpressions
@inject IConfiguration Configuration

@if(StaticPageVM is not null)
{
    <MetaTags PageTitle="@StaticPageVM.Title"
              PageDescription="@ArrangeContent(StaticPageVM.Content)"
              ContentType="article"
              PostTitle="@Configuration["SiteName"]"
              CanonicalUrl="@($"{Configuration["BaseUrl"]}/page/{PageUrl}")" />

    <div class="col-sm-12 blog-post-detail-container">
        <h1 class="blog-post-detail-heading">@StaticPageVM.Title</h1>
        <div class="blog-post-detail-content">
            @((MarkupString)StaticPageVM.Content)
        </div>
    </div>
}

@code {
    [Inject]
    private IPageService? pageService { get; set; }

    [Parameter]
    public string? PageUrl { get; set; }

    [Parameter]
    public StaticPageVM? StaticPageVM { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        if (StaticPageVM is null && pageService is not null)
        {
            var query = new GetStaticPageQueryVM
            {
                Url = PageUrl
            };

            StaticPageVM = await pageService.GetStaticPage(query);
        }

        await base.OnParametersSetAsync();
    }

    public string ArrangeContent(string content)
    {
        string textOnly = Regex.Replace(content, "<.*?>", String.Empty);
        return textOnly;
    }
}
