<div class="row heading-card-body align-items-center">
    <div class="col-sm-6 heading-text-area">
        <i class="bi bi-file-earmark-text" style="font-size:1.5em;margin-right:20px;"></i>
        <a href="@url" class="link-heading-primary link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover">@Model.Title</a>
    </div>
    @if(ShowNumber)
    {
        <div class="col-sm-2">
            @Model.PostCounter
        </div>
    }
    <div class="col-sm-4 last-post-summary">
        <small class="last-post-username">by <a href="@userUrl">@Model.LastUserName</a></small>
        <br />
        <small class="last-post-date">@Model.ActiveDate</small>
    </div>
</div>



@code {
    [Parameter]
    public HeadingVM Model { get; set; }

    [Parameter]
    public string CategoryUrl { get; set; }

    [Parameter]
    public bool ShowNumber { get; set; } = true;

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    string url 
    { 
        get 
        { 
            return $"/category/{CategoryUrl}/{Model.Id.EncodeGuidToBase64Url()}/{Model.Title.ToFriendlyUrl()}";
        } 
    }

    string userUrl
    {
        get
        {
            return $"/user/{Model.LastUserName}";
        }
    }
}
