@using BlazorUI.Models.Category

<div class="row category-card-body align-items-center">
    <div class="col-sm-4">
        <i class="bi bi-journals" style="font-size:1.5em;margin-right:20px;"></i>
        <a href="@url" class="link-category-primary link-offset-2 link-underline-opacity-100 link-underline-opacity-100-hover">@Model.Name </a>
    </div>
    <div class="col-sm-2 category-card-heading-counter">
        @Model.HeadingCounter
    </div>
    <div class="col-sm-2 category-card-post-counter">
       @Model.PostCounter
    </div>
    <div class="col-sm-4 last-post-summary">
        <small class="last-post-heading"><a href="@lastHeadingUrl">@Model.LastHeadingTitle</a></small>
       <br />
       <small class="last-post-username">by <a href="@userUrl">@Model.LastUserName</a></small>
       <br />
       <small class="last-post-date">@Model.ActiveDate</small>
    </div>
</div>

@code {
    [Parameter]
    public CategoryVM Model { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    string url { 
        get 
        {
            return $"/category/{Model.Name}"; 
        } 
    }

    string userUrl
    {
        get
        {
            return $"/user/{Model.LastUserName}";
        }
    }

    string lastHeadingUrl
    {
        get
        {
            if(Model.LastHeadingTitle != null)
            {
                return $"/category/{Model.Name}/{Model.LastHeadingTitle.ToFriendlyUrl()}-{Model.LastHeadingId}/";
            }
            return null;
        }
    }
}
