@using NarForumAdmin.Models.User
<Modal @ref="modal" ModalTitle="Detail User">
    @if (Model is not null)
    {
        <table class="table table-bordered table-hover caption-top forum-table">
            <thead>
                <tr>
                    <th style="width:50%">Field</th>
                    <th style="width:50%">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Id</td>
                    <td class="align-middle">@Model.Id</td>
                </tr>
                <tr>
                    <td class="align-middle">First Name</td>
                    <td class="align-middle">@Model.FirstName</td>
                </tr>
                <tr>
                    <td class="align-middle">Last Name</td>
                    <td class="align-middle">@Model.LastName</td>
                </tr>
                <tr>
                    <td class="align-middle">Register Date</td>
                    <td class="align-middle">@Model.RegisterDate</td>
                </tr>
                <tr>
                    <td class="align-middle">UserName</td>
                    <td class="align-middle">@Model.UserName</td>
                </tr>
            </tbody>
        </table>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public UserInfoVM? Model { get; set; }

    [Parameter]
    public EventCallback<int> Callback { get; set; }

    protected override void OnInitialized()
    {

    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
    }
}