@using NarForumAdmin.Models.Authorization.Role
@using NarForumAdmin.Models.User
@using NarForumAdmin.Services.UI

<Modal @ref="modal" ModalTitle="Update User" Callback="@HandleUpdate">
    @if (Model is not null)
    {
        <EditForm Model="@Model" OnValidSubmit="HandleUpdate">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <InputText id="FirstName" class="form-control" @bind-Value="@Model.FirstName"></InputText>
                <ValidationMessage For="@(() => Model.FirstName)" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <InputText id="LastName" class="form-control" @bind-Value="@Model.LastName"></InputText>
                <ValidationMessage For="@(() => Model.LastName)" />
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Username</label>
                <InputText id="Username" class="form-control" @bind-Value="@Model.UserName"></InputText>
                <ValidationMessage For="@(() => Model.UserName)" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <InputText id="Email" class="form-control" @bind-Value="@Model.Email"></InputText>
                <ValidationMessage For="@(() => Model.Email)" />
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Description</label>
                <InputText id="Username" class="form-control" @bind-Value="@Model.Description"></InputText>
                <ValidationMessage For="@(() => Model.Description)" />
            </div>
            <div class="form-group">
                <label for="state" class="form-label">Role</label>
                <InputSelect class="form-select" aria-label="Default select example" @bind-Value="@roleId">
                    @if (roleId is null)
                    {
                        <option>Choose a role</option>
                    }
                    @foreach(var role in Roles!)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <InputText id="Password" class="form-control" @bind-Value="@newPassword"></InputText>
                <ValidationMessage For="@(() => newPassword)" />
            </div>

        </EditForm>
    }
</Modal>

@code {
    Modal? modal;

    [Parameter]
    public UserInfoVM? Model { get; set; }

    [Parameter]
    public List<RoleVM>? Roles { get; set; }

    private string? newPassword;

    [Inject]
    private IUserService? UserService { get; set; }


    [Parameter]
    public EventCallback<int> Callback { get; set; }

    private string? roleId;


    protected async override Task OnParametersSetAsync()
    {
        if (UserService is not null && Model is not null)
        {
            var request = new GetApiUserRoleRequestVM
            {
                Id = Model.Id,
            };
            var response = await UserService.GetApiUserRole(request);

            if (response.IsSuccess)
            {
                roleId = response.RoleId;
            }
            else
            {
                roleId = null;
            }
        }

        await base.OnParametersSetAsync();
    }

    public void ShowModal()
    {
        modal?.ShowModal();
    }

    public void CloseModal()
    {
        modal?.CloseModal();
        roleId = null;
    }

    protected async Task HandleUpdate()
    {
        if (!AuthExtension.IsAuth("ADMIN_USER_UPDATE"))
        {
            ToastService!.CreateInfoToast("Action Denied", "Your user does not have permissions to update the user");
            return;
        }

        if (Model is not null && UserService is not null)
        {
            UpdateUserRequestVM request = new UpdateUserRequestVM
            {
                Id = Model.Id,
                Description = Model.Description,
                FirstName = Model.FirstName,
                LastName = Model.LastName,
                Email = Model.Email,
                UserName = Model.UserName,
            };

            if (roleId is not null && Roles is not null)
            {
                request.RoleId = roleId;
                var role = Roles.FirstOrDefault(x => x.Id == roleId);
                if(role is not null)
                {
                    request.RoleName = role.Name;
                }
            }

            if(!string.IsNullOrEmpty(newPassword))
            {
                request.IsChangePassword = true;
                request.Password = newPassword;
            }

            var response = await UserService.UpdateUser(request);

            if (response.IsSuccess)
            {
                ToastService!.CreateSuccessToast("Updated User", "The user is updated successfully");
                // updated
                if (Callback.HasDelegate)
                {
                    await Callback.InvokeAsync();
                }

                CloseModal();
            }
            else
            {
                ToastService!.CreateErrorToast("Error while updating user", response.Message);
            }
        }
    }
}
